@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 148, 163, 184;
  --background-start-rgb: 15, 23, 42;
  --background-end-rgb: 15, 23, 42;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0f172a;
}
