.content h1 {
  @apply font-londrina uppercase font-bold leading-none text-slate-100;
  font-size: min(max(3rem, 6.25vw), 7rem);
  text-wrap: balance;
}
@supports (font-size: clamp(3rem, 6.25vw, 7rem)) {
  .content h1 {
    font-size: clamp(3rem, 6.25vw, 7rem);
  }
}
.content h2 {
  text-wrap: balance;
  @apply mt-10 scroll-m-20 border-b border-b-slate-300 pb-1 text-3xl font-semibold tracking-tight first:mt-0 font-calsans text-white;
}
.content h3 {
  text-wrap: balance;
  @apply mt-8 scroll-m-20 text-2xl font-semibold tracking-tight text-slate-100;
}
.content h4 {
  text-wrap: balance;
  @apply mt-8 scroll-m-20 text-xl font-semibold tracking-tight text-slate-100;
}
.content h5 {
  text-wrap: balance;
  @apply mt-8 scroll-m-20 text-lg font-semibold tracking-tight text-slate-100;
}
.content h6 {
  text-wrap: balance;
  @apply mt-8 scroll-m-20 text-base font-semibold tracking-tight text-slate-100;
}
.content a {
  text-wrap: balance;
  @apply font-bold text-teal-300 underline underline-offset-4 hover:text-white;
}
.content em,
.content em > * {
  @apply text-right text-sm text-slate-600 italic font-normal;
}
.content em a,
.content em > * a {
  @apply hover:text-slate-500;
}
.content p:has(> em) {
  /* Estilos para el elemento p que tiene un hijo em */
  @apply text-right pt-1 pe-5;
}
.content p {
  text-wrap: pretty;
  @apply leading-7;
}
.content p:not(:first-child, :has(> em)) {
  @apply mt-6;
}
.content ul {
  @apply my-6 ml-6 list-disc pl-5;
}
.content ol {
  @apply my-6 ml-6 list-decimal;
}
.content li {
  @apply mt-2;
}
.content blockquote {
  @apply mt-6 border-l-2 border-teal-300 pl-6 italic text-slate-400;
}
.content blockquote > * {
  @apply text-slate-400;
}
.content img {
  @apply rounded-md border border-transparent;
}
.content hr {
  @apply my-4 border-slate-800 md:my-8;
}
.content table {
  @apply w-full;
}
.content tr {
  @apply m-0 border-t border-slate-800 p-0 even:bg-slate-700;
}
.content th {
  @apply border border-slate-800 px-4 py-2 text-left font-bold;
}
.content th[align="center"] {
  @apply text-center;
}
.content th[align="right"] {
  @apply text-right;
}
.content td {
  @apply border border-slate-800 px-4 py-2 text-left;
}
.content td[align="center"] {
  @apply text-center;
}
.content td[align="right"] {
  @apply text-right;
}
.content pre {
  @apply mt-6 mb-4 overflow-x-auto rounded-lg bg-slate-900 py-4 px-4 border-0;
}
.content :not(pre) > code {
  @apply relative rounded bg-slate-700 py-[0.2rem] px-[0.4rem] font-mono text-slate-100;
}
.content pre code {
  @apply bg-transparent p-0 rounded-none;
}
.content strong {
  @apply font-bold text-slate-200;
}

.content section > *:first-child {
  @apply mt-0 pt-0;
}

.personality-formal .content h1 {
  @apply text-white normal-case;
}
.personality-formal .content > p {
  @apply leading-normal;
}

.tag h1 {
  font-size: min(max(1rem, 4.25vw), 5rem) !important;
}
@supports (font-size: clamp(1rem, 4.25vw, 5rem)) {
  .tag h1 {
    font-size: clamp(1rem, 4.25vw, 5rem) !important;
  }
}
